#!/bin/sh

EIP={{ second_eip }} # EIP2
ENI_ID={{ aws_ec2_eni_facts['network_interfaces'][0]['id'] }} # ENI local
ALLOCATION_ID={{ hostvars[second_eip]['aws_ec2_eip_facts']['addresses'][0]['allocation_id'] }} # EIP2 ID
PRIVATE_IP={% if ansible_host == second_eip %}{{ ec2_private_ip_address }}{% else %}{{ aws_ec2_eni_facts['network_interfaces'][0]['private_ip_addresses'] | json_query("[?private_ip_address!='" + ec2_private_ip_address + "'].private_ip_address") | first }}{% endif %}


export AWS_DEFAULT_REGION={{ ec2_region }}


case "$1" in
        start)
                timeout 60 aws ec2 associate-address --allow-reassociation --allocation-id "$ALLOCATION_ID" --network-interface-id "$ENI_ID" --private-ip-address "$PRIVATE_IP"
                echo "$0" started
                ;;
        stop)
                timeout 60 aws ec2 disassociate-address --allocation-id "$ALLOCATION_ID"
                echo "$0" stopped
                ;;
        status)
                timeout 10 aws ec2 describe-addresses --allocation-ids "$ALLOCATION_ID" | fgrep -q "\"$PRIVATE_IP\""
                [ $? -eq 0 ] && echo OK || echo FAIL
                ;;
esac
